# PORT to be used by 9router
# default: 20128
PORT=

# The password that will be asked on intial setup
INITIAL_PASSWORD=

# NODE User UID and GID (must match host repository owner for write permissions on ./data)
# Automatically populated by running: ./setup.sh
NODE_USER_UID=
NODE_USER_GID=

# JWT Secret Authentication
JWT_SECRET=
